# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__

*/__pycache__/
# C extensions
*.so

# Pycharm related staff
.idea

.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/

downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite

# Jupyter Notebook
.ipynb_checkpoints

# Scrapy stuff:
.scrapy

# Flask stuff:
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# vscode editor
*.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
