{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} <!-- Crispy Forms --> 
{% block css %}

{% endblock css %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Post Create Form</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">        
          <div class="col-md-10 ">
            <div class="card">
              <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form | crispy}}
                  {{form.media}}
                  <button class="btn btn-primary float-right" type="submit">Submit</button>
                </form>
              </div>                
            </div>
          </div>
        </div>
      </div>        
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}