{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Quiz</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <form action="" method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Quiz Form</h3>
                    </div>                
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group-sm">
                                    <label for="inputClientCompany">Quiz Code</label>
                                    {{ form.quiz_code }}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group-sm">
                                    <label for="inputClientCompany">Title</label>
                                    {{ form.quiz_title }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group-sm">
                                        <label for="inputClientCompany">Note</label>
                                        {{ form.quiz_note }}
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputStatus">Quiz Time</label>
                                    {{ form.quiz_datetime }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputStatus">Duration (min.)</label>
                                    {{ form.quiz_duration }} 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="inputClientCompany">Marks per right answer</label>
                                    {{ form.marks_per_right_answer }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="inputClientCompany">Marks per wrong answer</label>
                                    {{ form.marks_per_wrong_answer }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>       
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{%  url 'quiz:quiz_list' %}" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Update Quiz" class="btn btn-success float-right">
            </div>
        </div>
        <br>
        </form>
    </section>
    <!-- /.content -->
</div>
{% endblock content %}

{% block javascript %}
<!-- DataTables -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.js' %} "></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %} "></script>
<!-- page script -->
<script>

  </script>
{% endblock javascript %}