{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} <!-- Crispy Forms --> 
{% block css %}

{% endblock css %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Subjects</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- Main content -->
     <section class="content">
      <div class="row">
        <div class="col-12">      
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Subject List</h3>
              <div class="card-tools ">
                <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#modal-subject"><i class="fas fa-plus"></i> Add New Subject</button>
              </div>
              <div class="card-tools mr-3">
                <button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#modal-topic"><i class="fas fa-plus"></i> Add New Topic</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example" class="table table-striped">
                <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Topic</th>
                      <th></th>
                    </tr>
                    </thead>
                <tbody>
                {% for subject in subjects %}
                <tr>                                                           
                    <td>{{subject.title}}</td>
                    <td>-</td>                    
                    <td class="project-actions text-right">
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-default-edit-{{subject.id}}">
                            <i class="fas fa-pencil-alt"></i>Edit
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-subject-delete-{{subject.id}}">
                            <i class="fas fa-trash"></i>Delete
                        </button>
                        <!-- /. Delete modal -->
                        <form action="{%  url 'quiz:subject_update' subject.id %}" method="POST">
                            {% csrf_token %}
                        <div class="modal fade" id="modal-default-edit-{{subject.id}}">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Subject</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>                    
                                <div class="modal-body">                                    
                                    <div class="form-group">
                                        <label for="title-category" class="float-left">*Title</label>
                                        <input type="text" id="title-category" class="form-control" name="title" value="{{subject.title}}">
                                    </div>                                    
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        </form>
                        <!-- /. Delete modal -->
                        <form action="{%  url 'quiz:subject_delete' subject.id %}" method="POST">
                            {% csrf_token %}
                        <div class="modal fade" id="modal-subject-delete-{{subject.id}}">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom:none;">                    
                                <i class="fas fa-exclamation-circle fa-5x" style="margin:0 auto; color:#F8BB86;"></i>
                                </div>
                                <div class="modal-body text-muted" style="margin:0 auto;border-bottom:none;">
                                    <h3 >Are you sure to Delete?</h3>
                                </div>
                                <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
                                <button type="submit" class="btn btn-primary">Yes, Delete it</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        </form>
                    </td>                                    
                </tr>                     
                    {% for topic in subject.topics.all %}                                                       
                <tr>                    
                    <td>-</td>                    
                    <td>{{topic.title}}</td>                   
                    <td class="project-actions text-right">
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-topic-edit-{{topic.id}}">
                            <i class="fas fa-pencil-alt"></i>Edit
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-topic-delete-{{topic.id}}">
                            <i class="fas fa-trash"></i>Delete
                        </button>
                        <!-- /. Delete modal -->
                        <form action="{%  url 'quiz:topic_update' topic.id %}" method="POST">
                            {% csrf_token %}
                        <div class="modal fade" id="modal-topic-edit-{{topic.id}}">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Topic</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>                   
                                <div class="modal-body">
                                    <div class="form-group ">
                                      <div class="form-group">
                                          <label for="inputStatus" class="float-left">Subject</label>
                                          <select class="form-control-sm custom-select" name="subject">
                                              <option selected value="{{subject.id}}">{{subject.title}}</option>                                     
                                              {% for subject in subjects %}
                                                  <option value="{{subject.id}}">{{subject.title}}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="title-category" class="float-left">*Title</label>
                                          <input type="text" id="title-category" class="form-control" name="title" value="{{topic.title}}">
                                      </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        </form>
                        <!-- /. Delete modal -->
                        <form action="{%  url 'quiz:topic_delete' topic.id %}" method="POST">
                            {% csrf_token %}
                        <div class="modal fade" id="modal-topic-delete-{{topic.id}}">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom:none;">                    
                                  <i  class="fas fa-exclamation-circle fa-5x" style="margin:0 auto; color:#F8BB86;"></i>
                                </div>
                                <div class="modal-body text-muted" style="margin:0 auto;border-bottom:none;">
                                    <h3 >Are you sure to Delete?</h3>
                                </div>
                                <div class="modal-footer justify-content-between">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
                                  <button type="submit" class="btn btn-primary">Yes, Delete it</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        </form>
                    </td>                                    
                </tr>
                    {% endfor %}              
                {% endfor %}                
                </tbody>
                <tfoot>
                <tr>
                    <th>Subject</th>
                    <th>Topic</th>
                    <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- /.modal Add Subject-->
      <form action="{%  url 'quiz:subject_create' %}" method="POST">
      <div class="modal fade" id="modal-subject">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Subject</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                {% csrf_token %}
                {{form1 | crispy}}
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      </form>
      <!-- /.modal -->
      <!-- /.modal Add Topic-->
      <form action="{%  url 'quiz:topic_create' %}" method="POST">
      <div class="modal fade" id="modal-topic">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Topic</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                {% csrf_token %}
                {{form2 | crispy}}
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      </form>
      <!-- /.modal -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}

{% block javascript %}
<!-- DataTables -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.js' %} "></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %} "></script>
<!-- page script -->
<script>
  $(function () {
    $('#example').DataTable({
      "paging": true,
      "autoWidth": false,
      "ordering" : false
    });
  });
</script>
{% endblock javascript %}