{% extends 'base.html' %}
{% load static %}
{% block css %}
<!-- fullCalendar -->
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/core/main.css' %} ">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/daygrid/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/timegrid/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/packages-premium/timeline/main.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/packages-premium/resource-timeline/main.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/bootstrap/main.min.css' %}">
{% endblock css %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Calendar</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="sticky-top mb-3">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Draggable Events</h4>
                </div>
                <div class="card-body">
                  <!-- the events -->
                  <div id="external-events">
                    {% for event in events %}
                        <div class="external-event" style="background-color:{{event.color}}">{{event.title}}</div>
                    {% endfor %}
                    <div class="checkbox">
                      <label for="drop-remove">
                        <input type="checkbox" id="drop-remove">
                        remove after drop
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Create Event</h3>
                </div>
                <div class="card-body">
                  <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                    <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                    <ul class="fc-color-picker" id="color-chooser">
                      <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                      <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                      <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                      <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                      <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                    </ul>
                  </div>
                  <!-- /btn-group -->
                  <div class="input-group">
                    <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                    <div class="input-group-append">
                      <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                    </div>
                    <!-- /btn-group -->
                  </div>
                  <!-- /input-group -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /. Delete modal -->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal fade" id="modal-event-delete">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header" style="border-bottom:none;">                    
                        <i class="fas fa-exclamation-circle fa-5x" style="margin:0 auto; color:#F8BB86;"></i>
                    </div>
                    <div class="modal-body text-muted" style="margin:0 auto;border-bottom:none;">
                        <h3 >Are you sure to Delete?</h3>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
                        <button id="delete-button" type="button" class="btn btn-primary">Yes, Delete it</button>
                    </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>
                </form>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock content %}

{% block javascript %}
<!-- fullCalendar 2.2.5 -->
<!-- <script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/moment/main.min.js' %}"></script> -->
<script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/core/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/daygrid/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/timegrid/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/interaction/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-scheduler-4.4.0/bootstrap/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
  
      /* initialize the external events
       -----------------------------------------------------------------*/
      function ini_events(ele) {
        ele.each(function () {
  
          // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
          // it doesn't need to have a start or end
          var eventObject = {
            title: $.trim($(this).text()) // use the element's text as the event title
          }
  
          // store the Event Object in the DOM element so we can get to it later
          $(this).data('eventObject', eventObject)
  
          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex        : 1070,
            revert        : true, // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
          })
  
        })
      }
  
      ini_events($('#external-events div.external-event'))
  
      /* initialize the calendar
       -----------------------------------------------------------------*/
      //Date for the calendar events (dummy data)
      var date = new Date()
      var d    = date.getDate(),
          m    = date.getMonth(),
          y    = date.getFullYear()
  
      var Calendar = FullCalendar.Calendar;
      var Draggable = FullCalendarInteraction.Draggable;
  
      var containerEl = document.getElementById('external-events');
      var checkbox = document.getElementById('drop-remove');
      var calendarEl = document.getElementById('calendar');
  
      // initialize the external events
      // -----------------------------------------------------------------
  
      new Draggable(containerEl, {
        itemSelector: '.external-event',
        eventData: function(eventEl) {
          console.log(eventEl);
          return {
            title: eventEl.innerText,
            backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
            borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
            textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
          };
        }
      });
  
      var calendar = new Calendar(calendarEl, {
        plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
        header    : {
          left  : 'prev,next today',
          center: 'title',
          right : 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        //Random default events  
        events    : {{ schedules | safe }},

        editable  : true,
        droppable : true, // this allows things to be dropped onto the calendar !!!
        drop      : function(info) {
            console.log("drop"+info);
          // is the "remove after drop" checkbox checked?
          if (checkbox.checked) {
            // if so, remove the element from the "Draggable Events" list
            info.draggedEl.parentNode.removeChild(info.draggedEl);
          }
        },
// IMPORTANT NOTE: full calendar 4 setProp can not update id. 
        eventClick: function(info) {
            console.log(info.event);
            info.jsEvent.preventDefault(); // don't let the browser navigate
            $('#modal-event-delete').modal('show')
            $('#delete-button').click(function () {
                $.ajax({
                    type: "POST",
                    url: '{% url "calendar_app:schedule_delete" %}',
                    data: {
                    'id': info.event.extendedProps.db_ID,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    dataType:  "json",
                    success:function(response){
                        toastr.success('Succes!', 'Successfully deleted.');
                                     
                    }
                });
                info.event.remove();
                $('#modal-event-delete').modal('hide')
            });
        }, ///eventClick END=========

        eventReceive: function(arg) { // called when a proper external event is dropped
            $.ajax({
                    type: "POST",
                    url: '{% url "calendar_app:schedule_create" %}',
                    data: {
                    'title': arg.event.title,
                    'start': moment(arg.event.start).format("YYYY-MM-DD HH:mm:ss"),//"YYYY-MM-DD HH:mm:ss Z"
                    'end': moment(arg.event.end).format("%Y-%m-%d %H:%M:%S"), 
                    'color':arg.event.backgroundColor,
                    'all_day':arg.event.allDay,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    dataType:  "json",
                    success:function(response){                        
                        arg.event.setExtendedProp('db_ID', response.schedule_id);
                        toastr.success('Başarı!', 'Ödev linkiniz kaydedilmiştir.');          
                    }
                });
        }

      });
  
      calendar.render();
      // $('#calendar').fullCalendar()
  
      /* ADDING EVENTS */
      var currColor = '#3c8dbc' //Red by default
      //Color chooser button
      var colorChooser = $('#color-chooser-btn')
      $('#color-chooser > li > a').click(function (e) {
        e.preventDefault()
        //Save color
        currColor = $(this).css('color')
        //Add color effect to button
        $('#add-new-event').css({
          'background-color': currColor,
          'border-color'    : currColor
        })
      })
      $('#add-new-event').click(function (e) {
        e.preventDefault()
        //Get value and make sure it is not null
        var val = $('#new-event').val()
        if (val.length == 0) {
          return
        }
  
        //Create events
        var event = $('<div />')
        event.css({
          'background-color': currColor,
          'border-color'    : currColor,
          'color'           : '#fff'
        }).addClass('external-event')
        event.html(val)
        $('#external-events').prepend(event)
  
        //Add draggable funtionality
        ini_events(event)
  
        //Remove event from text input
        $('#new-event').val('')
        // Add event to DB via ajax request
        console.log(val,currColor);
        $.ajax({
                type: "POST",
                url: '{% url "calendar_app:event_create" %}',
                data: {
                'title': val,
                'color' : currColor, 
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType:  "json",
                success:function(response){
                    toastr.success('Succes!', 'Successfully deleted.');             
                }
            });
      })
    })
  </script>
{% endblock javascript %}